.App {
  height: calc(100vh - var(--bottom-bar-offset));
  overflow: hidden;
  background-color: white;
}
*{
  box-sizing: border-box;
 } 

.App.centered {
  height: calc(100vh - var(--bottom-bar-offset) - var(--top-bar-offset));
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 15vw;
}

sup {
  background-color: red;
  padding: 4px;
  font-size: .7rem;
  font-weight: 900;
  color: white;
}

body {
  background-color: #ebebeb;
  margin: 0;
  overflow: hidden;
  --bottom-bar-offset: 48px;
  --top-bar-offset: 72px;
}

.App-logo {
  animation: App-logo-spin infinite 0.75 linear;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
